<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>쿠키의 서점</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
    <style>
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>

<body>
<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-white" style="text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container-fluid" style="max-width: 600px">

    <hr class="my-4">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">발급된 인증 코드</h5>
        </div>

        <hr class="my-4">

        <div class="modal-body">
            <div>
                <label type="text" th:text="*{authCode}"></label>
            </div>
            <hr class="my-2">
        </div>

        <hr class="my-4">
        <div class="modal-footer">
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/}'|">확인</button>
        </div>
    </div>

    <hr class="my-4">
</div>

</body>
</html>