<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.updateMember}">멤버 수정</h2>
    </div>

    <form action="member.html" th:action th:object="${member}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label for="id" th:text="#{label.member.id}">멤버 ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" readonly>
        </div>
        <div>
            <label for="memberName" th:text="#{label.member.name}">멤버명</label>
            <input type="text" id="memberName" th:field="*{username}"
                   th:errorclass="field-error" class="form-control" placeholder="멤버 이름을 입력하세요">
            <div class="field-error" th:errors="*{username}">멤버명 오류</div>
        </div>
        <div>
            <label for="memberAge" th:text="#{label.member.age}">멤버 나이</label>
            <input type="text" id="memberAge" th:field="*{age}"
                   th:errorclass="field-error" class="form-control" placeholder="멤버 나이를 입력하세요">
            <div class="field-error" th:errors="*{age}">멤버 나이 오류</div>
        </div>
        <div>
            <label for="memberLoginId" th:text="#{label.member.loginId}">멤버 로그인 ID</label>
            <input type="text" id="memberLoginId" th:field="*{loginId}" class="form-control" readonly>
        </div>
        <div>
            <label for="memberPassword" th:text="#{label.member.password}">멤버 암호</label>
            <input type="text" id="memberPassword" th:field="*{password}"
                   th:errorclass="field-error" class="form-control" placeholder="멤버 암호를 입력하세요">
            <div class="field-error" th:errors="*{password}">멤버 암호 오류</div>
        </div>
        <div>
            <label th:text="#{label.member.role}">멤버 역할</label>
            <select th:field="*{role}" class="form-select">
                <option value="">멤버 역할 선택</option>
                <option th:each="memberRole : ${memberRoles}" th:value="${memberRole}"
                th:text="${memberRole.name()}">NONE</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-sm" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-sm"
                        onclick="location.href='member.html'"
                        th:onclick="|location.href='@{/members/{memberId}(memberId=${member.id})}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>