<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>쿠키의 서점</title>

    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>
<body>
<!-- Navbar Start -->
<div class="container p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-black-50" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container" style="max-width: 600px">

    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <h4 class="mb-3">회원 정보 입력</h4>

    <form action="" th:action th:object="${member}" method="post" enctype="multipart/form-data">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <hr class="my-2">
        <div>
            <label for="imgFile" class="form-label">프로필 사진 업로드</label>
            <input type="file" class="form-control" id="imgFile" th:field="*{profileImgFile}" th:errorclass="field-error">
        </div>

        <hr class="my-2">
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>

        <hr class="my-2">
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>

        <hr class="my-2">
        <div>
            <label for="passwordConfirm">비밀번호 확인</label>
            <span id="confirmMsg"></span>
            <input type="password" id="passwordConfirm" class="form-control" oninput="passConfirm()">
        </div>

        <hr class="my-2">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{username}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}"></div>
        </div>

        <hr class="my-2">
        <div>
            <label for="age">나이</label>
            <input type="text" id="age" th:field="*{age}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{age}"></div>
        </div>

        <hr class="my-4">

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>이름</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teams}">
                    <td th:text="${team.name}">팀명</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <label>팀 선택</label>
            <hr class="my-2">
            <label>
                <select th:field="*{team}" class="form-select">
                    <option value="">팀 선택</option>
                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </label>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="btn-primary" type="submit">회원 가입</button>
                <button type="button" class="btn-primary" th:onclick="|location.href='@{/}'|">취소</button>
            </div>
        </div>

        <hr class="my-4">

    </form>

</div> <!-- /container -->
</body>

<script type="text/javascript">
    /* 자바 스크립트 함수 선언(비밀번호 확인) */

    function passConfirm() {
        /* 비밀번호, 비밀번호 확인 입력창에 입력된 값을 비교해서 같다면 비밀번호 일치, 그렇지 않으면 불일치 라는 텍스트 출력.*/
        /* document : 현재 문서를 의미함. 작성되고 있는 문서를 뜻함. */
        /* getElementByID('아이디') : 아이디에 적힌 값을 가진 id의 value를 get을 해서 password 변수 넣기 */
        var password = document.getElementById('password');					//비밀번호
        var passwordConfirm = document.getElementById('passwordConfirm');	//비밀번호 확인 값
        var confirmMsg = document.getElementById('confirmMsg');				//확인 메세지
        var correctColor = "#11ff00";	//맞았을 때 출력되는 색깔.
        var wrongColor ="#ff0000";	//틀렸을 때 출력되는 색깔

        if(password.value === passwordConfirm.value){//password 변수의 값과 passwordConfirm 변수의 값과 동일하다.
            confirmMsg.style.color = correctColor;/* span 태그의 ID(confirmMsg) 사용  */
            confirmMsg.innerHTML ="일치";/* innerHTML : HTML 내부에 추가적인 내용을 넣을 때 사용하는 것. */
        }else{
            confirmMsg.style.color = wrongColor;
            confirmMsg.innerHTML ="불일치";
        }
    }
</script>

</html>