<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>쿠키의 서점</title>

    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">

    <style>
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>
<body>
<!-- Navbar Start -->
<div class="container p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-black-50" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container" style="max-width: 800px">

    <hr class="my-4">

    <table class ="table table-bordered">
        <thead>
        <tr>
            <th>제목</th>
            <td th:text="${board.title}"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>작성자</th>
            <td th:text="${board.author}"></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td th:inline="text">[[${#temporals.format(board.createDateTime, 'yyyy-MM-dd HH:mm')}]]</td>
        </tr>
        <tr>
            <th>마지막 수정일</th>
            <td th:inline="text">[[${#temporals.format(board.lastModifiedDateTime, 'yyyy-MM-dd HH:mm')}]]</td>
        </tr>
        <hr class="my-2">
        <tr>
            <td colspan="2" th:text="${board.content}"></td>
        </tr>
        </tbody>
    </table>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/boards/{memberId}/{boardId}/update(boardId=${board.id},memberId=${memberId})}'|">수정</button>
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/boards/{memberId}(memberId=${memberId})}'|">목록으로</button>
        </div>
    </div>

</div>
</body>
</html>