<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>쿠키의 서점</title>
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
    <style>
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>
<body>
<!-- Navbar Start -->
<div class="container p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-black-50" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container" style="max-width: 1000px">

    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <hr class="my-4">
    <table class="table table-bordered" style="max-width: 1000px">
        <thead>
        <tr>
            <th>번호</th>
            <th>글제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(board)} > 0" th:each="board : ${boards}">
            <td th:text="${board.id}"></td>

            <div th:switch="${memberRole}">
                <p th:case="'ADMIN'">
                <td><a href="boardAdmin.html" th:href="@{/boards/{memberId}/{boardId}(boardId=${board.id}, memberId=${memberId})}" th:text="${board.title}"></a></td>
                </p>
                <p th:case="*">
                <td><a href="boardNormal.html" th:href="@{/boards/{memberId}/{boardId}(boardId=${board.id}, memberId=${memberId})}" th:text="${board.title}"></a></td>
                </p>
            </div>

            <td th:text="${board.author}"></td>
            <td th:text="${board.hitCount}"></td>
            <td th:inline="text">[[${#temporals.format(board.createDateTime, 'yyyy-MM-dd HH:mm')}]]</td>
            <td th:inline="text">[[${#temporals.format(board.lastModifiedDateTime, 'yyyy-MM-dd HH:mm')}]]</td>
        </tr>
        <tr th:unless="${#lists.size(boards)} > 0">
            <hr class="my-2">
            <td colspan="6">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/boards/{memberId}/add(memberId=${memberId})}'|">글쓰기</button>
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/}'|">뒤로</button>
        </div>
    </div>

    <hr class="my-4">

</div>
</body>