<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>쿠키의 서점</title>
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
    <style>
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>
<body>
<!-- Navbar Start -->
<div class="container p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-black-50" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container" style="max-width: 600px">

    <div class="py-5 text-center">
        <h2>책 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/books/{memberId}/add(memberId=${memberId})}'|">추가</button>
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/}'|">뒤로</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>ISBN</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${bookDtoList}">
                <td><a href="book.html" th:href="@{/books/{memberId}/book/{bookId}(bookId=${book.id}, memberId=${memberId})}" th:text="${book.id}">ID</a></td>
                <td th:text="${book.name}">null</td>
                <td th:text="${book.price}">1</td>
                <td th:text="${book.count}">1</td>
                <td th:text="${book.isbn}">null</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>