<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>쿠키의 서점</title>

    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
    <style>
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>

<body>
<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-white" style="text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container-fluid" style="max-width: 600px">

    <form class="form-control" th:object="${book}" method="post">

        <!--<div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>-->

        <hr class="my-4">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeBookModalLabel">내 책장에서 빼기</h5>
            </div>

            <hr class="my-4">
            <div class="modal-body">
                <div>
                    <label for="name" th:text="이름"></label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" readonly>
                </div>
                <hr class="my-2">
                <div>
                    <label for="price" th:text="가격"></label>
                    <input type="text" id="price" th:field="*{price}" class="form-control" readonly>
                </div>
                <hr class="my-2">
                <div>
                    <label for="count}" th:text="수량"></label>
                    <input type="text" id="count}" th:field="*{count}" class="form-control" readonly>
                </div>
                <hr class="my-2">
                <div>
                    <label for="isbn" th:text="ISBN"></label>
                    <input type="text" id="isbn" th:field="*{isbn}" class="form-control" readonly>
                </div>
            </div>

            <hr class="my-4">
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">삭제</button>
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/books/{memberId}(memberId=${memberId})}'|" data-bs-dismiss="modal">취소</button>
            </div>
        </div>

        <hr class="my-4">

    </form>

</div>

</body>
</html>