<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">

    <hr class="my-4">

    <h2 class="py-5 text-center" th:text="|${member.username}|">로그인 사용자 이름</h2>

    <hr class="my-4">

    <h4 class="mb-3" th:text="#{label.book.list}">책장</h4>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">ID</th>
                <th th:text="#{label.item.name}">책 이름</th>
                <th th:text="#{label.item.price}">가격</th>
                <th th:text="#{label.item.count}">수량</th>
                <th th:text="#{label.item.isbn}">ISBN</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${member.books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.count}"></td>
                <td th:text="${book.isbn}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-sm" type="button"
                    th:onclick="|location.href='@{/books/{memberId}(memberId=${member.id})}'|">
                책 목록
            </button>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-sm"
                        onclick="location.href='items.html'"
                        type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>