<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <title>쿠키의 서점</title>
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <img id="profile_img" alt="profile_img" th:if="${member.profileImgFile != null}"
                 th:src="@{${member.profileImgFile.uriFullPath}}" />
        </div>
        <div class="col">
            <h2 th:text="|${member.username}|">로그인 사용자 이름</h2>
        </div>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="btn-primary" type="button" th:onclick="|location.href='@{/teams}'|">팀 관리</button>
            <button class="btn-primary" type="button" th:onclick="|location.href='@{/members}'|">멤버 관리</button>
            <button class="btn-primary" type="button" th:onclick="|location.href='@{/books/{memberId}(memberId=${member.id})}'|">책 관리</button>
            <button class="btn-primary" type="button" th:onclick="|location.href='@{/boards/{memberId}(memberId=${member.id})}'|">게시판</button>
        </div>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="btn-primary" onclick="location.href='items.html'" type="submit">로그아웃</button>
            </form>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>