<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>쿠키의 서점</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet">
    <style>
        .bg-transparent {
            border: none;
            background-color: rgba(0,0,0,0);
        }
    </style>
</head>
<body>
<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <button class="bg-transparent btn-primary display-4 text-white" style="text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" type="button" th:onclick="|location.href='@{/}'|">쿠키네 서점</button>
    </nav>
</div>
<!-- Navbar End -->

<div class="container-fluid" style="max-width: 600px">

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <hr class="my-2">
    <div>
        <label for="teamId">팀 ID</label>
        <input type="text" id="teamId" name="teamId" class="form-control" value="id" th:value="${team.id}" readonly>
    </div>

    <hr class="my-2">
    <div>
        <label for="teamName">팀 이름</label>
        <input type="text" id="teamName" name="teamName" class="form-control" value="name" th:value="${team.name}" readonly>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <!--<th th:text="#{label.member.id}">ID</th>-->
                <th>로그인 ID</th>
                <th>이름</th>
                <th>나이</th>
                <th>권한</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <!--<td><a href="../members/member.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.id}">멤버 ID</a></td>-->
                <td th:text="${member.loginId}">멤버 로그인 ID</td>
                <td th:text="${member.username}">멤버 이름</td>
                <td th:text="${member.age}">멤버 나이</td>
                <td th:text="${member.role}">멤버 권한</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/teams/{teamId}/edit(teamId=${team.id})}'|">수정</button>
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/teams/{teamId}/delete(teamId=${team.id})}'|">삭제</button>
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/teams}'|">목록으로</button>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->
</body>
</html>